@model Kapsch.EVR.Gateway.Models.Vehicle.VehicleModelNumberModel

@using (Html.BeginForm("AddVehicleModelNumber", "Vehicle", FormMethod.Post, new { id = "addVehicleModelNumberForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.VehicleModelID, new { id = "addVehicleModelNumber_VehicleModel_ID" })

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleModelDescription, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.VehicleModelDescription, new { @class = "form-control", id = "addVehicleModelNumber_VehicleModel_Description", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", id = "addVehicleModelNumber_Description" })
                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExternalCode, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ExternalCode, new { @class = "form-control", id = "addVehicleModelNumber_ExternalCode" })
                @Html.ValidationMessageFor(model => model.ExternalCode, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
}

