
<script>
    $("#breadcrumbText").html("Payments / <b>Search Fines</b>");
</script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search Fines</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Search Type</label>
                            <div class="col-sm-4">
                                <select id="searchCriteria" class="form-control input-sm">

                                    <option value="0">ID Number</option>
                                    <option value="1">VLN</option>
                                    <option value="2">Reference Number</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-2 control-label">Search Value</label>
                            <div class="col-sm-4">
                                <input type="text" id="searchValue" class="form-control" /> 
                            </div>
                            <label class="col-sm-6 font-bold">Wildcards are supported with %</label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="button" value="Search" class="btn btn-primary" onclick="reloadGrid()" style="width:100%" />
                            </div>
                        </div>
                    </div>
                    <div id="searchResults" class="jqGrid_wrapper">
                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Payment Summary</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">
                            Total
                        </label>

                        <div class="col-sm-7">
                            <div id="totalAmount" class="h2">0.00</div>
                        </div>
                    </div>

                    <hr>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">
                            Payment Method
                        </label>

                        <div class="col-sm-7">

                            <select class="form-control input-sm" id="paymentMethod">
                                <option value="@((int)Kapsch.Core.Gateway.Models.Enums.PaymentMethod.Court)">Court</option>
                                <option value="@((int)Kapsch.Core.Gateway.Models.Enums.PaymentMethod.Bank)">Bank</option>
                            </select>
                            <br />
                            <br />
                        </div>
                    </div>
                    
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm" onclick="proceed()"><i class="fa fa-shopping-cart"></i> Proceed</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section scripts
{
    @Scripts.Render("~/plugins/jqGrid")

    <script>

        var searchUrl = '@Url.Action("SearchFines", "Payment")';
        var courtPaymentUrl = '@Url.Action("CourtPayment", "Payment")';
        var grid = null;
        var totalAmount = 0.00;

        $(function () {

            grid = $("#jqGrid").jqGrid({
                url: searchUrl,
                mtype: "GET",
                postData: {
                    searchCriteria: function () { return $("#searchCriteria").val() },
                    searchValue: function () { return $("#searchValue").val() }
                },
                height: 250,
                autowidth: true,
                shrinkToFit: true,
                datatype: "json",
                colNames: ['Reference No.', 'ID No', 'Last Name', 'First Name', 'Offence Date', 'VLN', 'Outstanding Amount'],
                colModel: [
                    { name: 'ReferenceNumber', key: true },
                    { name: 'OffenderIDNumber', key: false },
                    { name: 'OffenderLastName', key: false },
                    { name: 'OffenderFirstName', key: false },
                    { name: 'FormattedOffenceDate', key: false },
                    { name: 'VLN', key: false },
                    { name: 'OutstandingAmount', key: false, align: "right" }
                ],
                viewrecords: true,
                pager: true,
                rowNum: 10000,
                pgbuttons: false,
                pginput: false,
                pgtext: "",
                multiselect: true,
                footerrow: true,
                onSelectRow: function (id) {
                    calculateTotal();
                },
                onSelectAll: function (aRowids, status) {
                    calculateTotal();
                }
            });

            $(window).bind('resize', function () {
                var width = $('.jqGrid_wrapper').width();
                $('#jqGrid').setGridWidth(width);
            });
        });

        function calculateTotal() {
            var rows = $("#jqGrid").jqGrid('getGridParam', 'selarrrow');

            var totalRow = rows.length;
            totalAmount = 0.00;

            $.each(rows, function () {
                var rowData = $("#jqGrid").getRowData(this);
                totalAmount += Number(rowData["OutstandingAmount"]);
            });

            $("#jqGrid").jqGrid('footerData', 'set', { 'OutstandingAmount': totalAmount.toFixed(2) });
            $("#totalAmount").html(function () { return totalAmount.toFixed(2); });
        }

        var reloadGrid = function () {
            grid.trigger('reloadGrid');
        };

        function proceed() {
            if (totalAmount <= 0)
                return;

            var rows = $("#jqGrid").jqGrid('getGridParam', 'selarrrow');
            var data = [];
            $.each(rows, function () {
                var rowData = $("#jqGrid").getRowData(this);

                data.push(rowData);
            });

            var model = {
                Fines: data,
                PaymentMethod: $("#paymentMethod").val()
            };

            $.ajax({
                type: "POST",
                async: false,
                url: "@Url.Action("DoPayment", "Payment")",
            data: model,
            success: function (data) {
                window.location.href = courtPaymentUrl;
            }
        });
    }

    </script>
}




