@model Kapsch.Core.Gateway.Models.User.ChangePasswordWithTokenModel

@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IMS</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <style>
        .validation-summary-errors ul, .validation-summary-errors li {
            list-style: none;
            display: inline;
            padding: 0;
            color: red;
            text-align: left;
        }
    </style>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img alt="image" src="~/Images/IMS-logo-180x66.png" style="margin-top: 100px; padding-bottom: 20px;" />
            </div>
            <h3>Enforcement Change Password</h3>
       
            <p>Please provide new login credentials.</p>
           @using (Html.BeginForm("ChangePasswordWithToken", "Account", null, FormMethod.Post, new { }))
           {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Token)
                <div class="form-group">
                    @Html.TextBoxFor(model => model.NewPassword, new { type = "password", @class = "form-control", placeholder = "New Password", required = "" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.RepeatNewPassword, new { type = "password", @class = "form-control", placeholder = "Repeat Password", required = "" })
                    @Html.ValidationMessageFor(model => model.RepeatNewPassword)
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Change Password</button>

                <a href="@Url.Action("Login", "Account")"><small>Login</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register", "Pages")">Create an account</a>
            }

            <p class="m-t"> <small>Intelligent Mobility Solutions &copy; 2017</small> </p>
        </div>
    </div>

</body>

</html>

